[Unit]
Description=Raspberry Pi Home Server

[Service]
User=pi

ExecStart=node /opt/rpiserver/index.js
Restart=on-failure

[Install]
WantedBy=multi-user.target
